.full-page{
    position: relative;
}
.header-position {
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

.hide {
    top: -100px;
}

.show {
    top: 0;
}

.full-page,
.header-position,
.custom-navbar-width,.banner,
footer {
    width: 100%;
}
