@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


/* Ví dụ: áp dụng font Dosis với trọng lượng cụ thể */
.text-products {
  font-weight: 400;
  /* Sử dụng trọng lượng 400 */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
}